.sign_btn{
    background: #184E6C;
    outline: none;
    border-radius: 2rem;
    padding: 10px;
    width:90px;
    color: #DDECF6;
    border: 2px solid #DDECF6;
}

.sign_btn:hover{
    background: #DDECF6;
    color:#184E6C;
    border: none;
}

.menu{
    color: #DDECF6;
}

.menu:hover{
    color:#DDECF6 ;
}